<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
    <!-- action - адрес на сервере который будет обрабатывать отправленный запрос @ -->
    <form th:method="POST" th:action="@{/users/create}" th:object="${user}" >
        <label for="user_id">Введите id:</label>
        <input th:value="${user.getId()}" th:field="*{id}" id="user_id" >
        <div style="color:red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name errors</div>
        <br>
        <label for="user_name">Введите имя:</label>
        <input th:value="${user.getUsername()}" th:field="*{getUsername}" id="user_name" >
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{getUsername}">Name errors</div>
        <br>
        <label for="email">Введите почту:</label>
        <input th:value="${user.getEmail()}" th:field="*{email}" id="email" >
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name errors</div>
        <br>
        <input type="submit" value="Создать нового пользователя">
    </form>
</body>
</html>